<h1 class="entry-title">
{% if page.title %}
    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
{% endif %}
{% if post.title %}
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>
<h2 class ="entry-subtitle"> {{post.subtitle}}</h2>
<div class="post-attribution">#{{ post.categories }} &#8226 {{ post.date | date: "%B %-d ,%Y" }} &#8226 {% assign words = content | number_of_words %}
{% if words < 360 %}
1 min read
{% else %}
{{ words | divided_by:180 }} mins read
<script>
// This script will calculate reading time and fire a GA event goal is someone read it
  var calcRead = {{words | divided_by:3}};
  var startTime = $.now();
  var endTime = '';
  var actualRead ='';
  $(window).on("unload",function(){
    endTime = $.now();
    var actualRead = Math.round((endTime-startTime)/1000);
// if statement that will fire the GA event
  if (actualRead >= calcRead) {
    ga('send', 'event', 'Post', 'Read', '{{ post.title }}');
  }
  });
</script>
{% endif %}</div>
{% if post.image != empty %}
<div class="post-image">
  <img class="post-image" src="{{ site.baseurl }}{{ site.img_path_url }}{{ post.image }}" alt="Photo by {{ post.image-credit }}"> <!-- Your image name is defined on the post page! magic!-->
  <div class="post-image-credit">
    <p>Photo by {{ post.image-credit }}</p>
  </div>
</div>
{% endif %}
<div class="entry-content">{{ content }}</div>

<!-- Category description, included -->
{% capture page-cat %}{{ post.categories }}{% endcapture %}
{% include categoty-info.html %}

<!-- Latest posts, will list the latest 5 posts in the _posts directory -->
<div class="latest-posts"><h3>Latest Posts on /project</h3>
<ul>
  {% for post in site.posts limit:5 %}
  <li><a href="{{ post.url }}" onclick=”ga('send', 'event', 'Homepage', 'Used Latest Posts', '{{ post.title }}');”>{{ post.title }}</a></li>
  {% endfor %}
</ul></div>
