<h1 class="entry-title">
{% if page.title %}
    <a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
{% endif %}
{% if post.title %}
    <a href="{{ root_url }}{{ post.url }}">{{ post.title }}</a>
{% endif %}
</h1>
<div class="post-attribution">Published at {{ post.date | date: "%-d %B ,%Y" }} #{{ post.categories }}</div>
<div class="post-image">
  <img class="post-image" src="/assets/img/{{ post.image }}"> <!-- Your image name is defined on the post page! magic!-->
  <div class="post-image-credit">
    <p>Photo by {{ post.image-credit }}</p>
  </div>
</div>
<div class="entry-content">{{ content }}</div>
<!--Next and prev post navigation-->
<div class="PageNavigation">
  {% if post.previous.url %}
    <a class="prev" href="{{post.previous.url}}">&laquo; {{post.previous.title}}</a>
  {% endif %}
  {% if post.next.url %}
    <a class="next" href="{{post.next.url}}">{{post.next.title}}&raquo;</a>
  {% endif %}
</div>
