<body>
  <div class="post-header">
  <div class="post-header-image" style="background-image:url({{ site.img_path_url }}{{ page.image }}); background-size:cover; background-position:center; width:100%;">
  <div class="post-header-text">
      <h1 class="post-name"> {{ site.title }}</h1>
      <div class="post-info-homepage"> {{site.description}} by {{ site.owner_name }} </div>
      <div class="dark-mode">
        <label class="switch">
          <input type="checkbox" id="dark-mode-checkbox">
          <span class="slider round"></span>
        </label>
      </div>
  </div>
  </div>
  </div>
