@import "variables";

.body-darkmode {
  background-color: #1f1f1f !important;
  color: #A6AAAD !important;
}

.post-meta-darkmode {
  color: #A6AAAD !important;
}

.bottom-navigation-darkmode {
  background-color: darken(#1f1f1f,20%) !important;
  border-color: darken(#1f1f1f,20%) !important;
}

.latest-posts-darkmode {
  background-color: darken(#1f1f1f,20%) !important;
  border-color: darken(#1f1f1f,20%) !important;

  .h3-darkmode {
    color: darken(#D33563,20%) !important;
  }

  li, li a  {
    color: darken(#D33563,10%) !important;
  }
}

.a-darkmode {
  color: darken(#D33563,10%) !important;
}

.post-name-darkmode {
  color: darken(white,20%) !important;
}

.h2-darkmode {
  color: darken(#D33563,20%) !important;
}

.th-darkmode {
  background-color: darken(#1f1f1f,20%) !important;
}

.category-info-darkmode {
  border-top: solid 1px darken($hr-border-color,60%) !important;
}
