@import "normalize";
@import "rouge-github";
@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $body-text-color;
}

a {
  color: $body-link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;

  &:hover {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.3);
  }

  + .btn {
    margin-left: 1rem;
  }

  @include large {
    padding: 0.75rem 1rem;
  }

  @include medium {
    padding: 0.6rem 0.9rem;
    font-size: 0.9rem;
  }

  @include small {
    display: block;
    width: 100%;
    padding: 0.75rem;
    font-size: 0.9rem;

    + .btn {
      margin-top: 1rem;
      margin-left: 0;
    }
  }
}

.page-header {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 1.5rem 4rem 2rem 2rem;
  }

  @include medium {
    padding: 1.5rem 4rem 2rem 2rem;
  }

  @include small {
    padding: 1.5rem 4rem 2rem 2rem;
  }
}

.page-header-scroll {
  color: $header-heading-color;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
  box-shadow: 0px 1px 2px #292E38;
  display: none;
  text-align: left;
  position: fixed;
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 2rem;
  z-index: 1;

}

.project-name-scroll {
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  text-decoration: none;
  text-align: left;
  color: $header-heading-color;


  a {
    color: $header-heading-color;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  a:hover {
    color: #B8D9D4;
  }
}

.project-name {
  margin-top: 0.2rem;
  margin-bottom: 0.1rem;
  text-decoration: none;
  text-align: center;
  color: $header-heading-color;

  @include large {
    font-size: 3.25rem;
  }

  @include medium {
    font-size: 2.25rem;
  }

  @include small {
    font-size: 1.75rem;
  }

  a {
    color: $header-heading-color;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
  }

  a:hover {
    color: #B8D9D4;
  }
}

.project-tagline {
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.7;
  text-align: center;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }
}

.main-content {
  word-wrap: break-word;

  :first-child {
    margin-top: 0;
  }

  @include large {
    max-width: 64rem;
    padding: 2rem 6rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }

  @include medium {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem;
    font-size: 1rem;
  }

  img {
    max-width: 100%;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
    color: #1e6bb8;
  }

    h1 {
        color: #1e6bb8;
        font-weight: bold;

        @include large {
          font-size: 2.25rem;
        }

        @include medium {
          font-size: 1.75rem;
        }

        @include small {
          font-size: 1.5rem;
        }


    }


  .entry-title {

    a {
        text-decoration: none;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: bold;
        color: #1e6bb8;
        cursor: pointer;

        @include large {
          font-size: 2.25rem;
        }

        @include medium {
          font-size: 1.75rem;
        }

        @include small {
          font-size: 1.5rem;
        }


        }
      }

  p {
    margin-bottom: 1em;
  }

  code {
    padding: 2px 4px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }

  pre {
    padding: 0.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: $code-text-color;
    word-wrap: normal;
    background-color: $code-bg-color;
    border: solid 1px $border-color;
    border-radius: 0.3rem;

    > code {
      padding: 0;
      margin: 0;
      font-size: 0.9rem;
      color: $code-text-color;
      word-break: normal;
      white-space: pre;
      background: transparent;
      border: 0;
    }
  }

  .highlight {
    margin-bottom: 1rem;

    pre {
      margin-bottom: 0;
      word-break: normal;
    }
  }

  .highlight pre,
  pre {
    padding: 0.8rem;
    overflow: auto;
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
    -webkit-overflow-scrolling: touch;
  }

  pre code,
  pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;

    &:before,
    &:after {
      content: normal;
    }
  }

  ul,
  ol {
    margin-top: 0;
  }

  blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: $blockquote-text-color;
    border-left: 0.3rem solid $border-color;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }
  }

  table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all; // For Firefox to horizontally scroll wider tables.
    -webkit-overflow-scrolling: touch;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-color;
    }
  }

  dl {
    padding: 0;

    dt {
      padding: 0;
      margin-top: 1rem;
      font-size: 1rem;
      font-weight: bold;
    }

    dd {
      padding: 0;
      margin-bottom: 1rem;
    }
  }

  hr {
    height: 2px;
    padding: 0;
    margin: 1rem 0;
    background-color: $hr-border-color;
    border: 0;
  }

} //Closer for main content

.post-attribution {
  color: #1e6bb8;
  font-size: 0.8em;
  display: block;
  margin-bottom: 20px;
  margin-top: -15px;
}

.post-image {
  max-width: 100%;
  img {
    //put stuff here to manipulate image
  }
  &:hover {
    //I want to put for the photograper here
  }
}
  .post-image-credit{
    position: relative;
    bottom: 30px;
    margin-left: 15px;

    p {
      font-size: 0.6em;
      color: white;
      text-shadow: 1px 1px 2px #292E38;

    }
}


.site-footer {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: solid 1px $hr-border-color;

  @include large {
    font-size: 1rem;
  }

  @include medium {
    font-size: 1rem;
  }

  @include small {
    font-size: 0.9rem;
  }

}

.site-footer-owner {
  display: block;
  font-weight: bold;
}

.site-footer-credits {
  color: $blockquote-text-color;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
  margin-top: 4.5em;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
}

.PageNavigation .next {
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.newsletter {
  text-align: center;
  border: 1px solid #EFF0F1;
  padding: 20px;
  margin: 5px;
  background-color: #F6F6F6;

    input[type=submit] {
      background-color: $header-bg-color;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      -webkit-transition-duration: 0.4s; /* For Safari */
      transition-duration: 0.4s;
      }

        input[type=submit]:hover {
          background-color: #005E2E;
        }


      input[type=text] {
        width: 60%;
        background-color: White;
        padding: 10px 30px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        }
    }

.topnav {
  text-align: center;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      li {
        display: inline;
        padding-right: 15px;

        @include small {
          display: block;
          text-align: left;
          line-height: 3em;
        }

      }

      li a {
        cursor: pointer;
        text-decoration: none;
      }

      li a:hover{
        color:#074078;
      }

      .dot {
        @include small {
          display: none;
        }
      }
    }

    .categoty-info {
      font-style: italic;
      font-size: 1rem;
      color: #A6AAAD;
      margin-top: 30px;
      border-top: solid 1px $hr-border-color;
      padding-top: 2rem;
    }
