@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  } }

body {
  margin: 0;
}
.main-container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 15% 70% 15%;
  grid-template-areas:
    "top-navigation"
    "content"
    "footer" ;

  font-family: 'Open Sans';
}

.top-navigation {
  grid-area: top-navigation;
  grid-row: 1;
  z-index: 1;

  padding: 0.5em 1em 0.5em 2em;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.79);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.79);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.79);
  background-color: #1F607B;
  color: white;

  @include small {
    padding: 0em 0em 1em 0em;
  }

  ul {
    list-style-type: none;

    @include small {
      text-align: center;
    }
  }

  li {
    display: inline-block;
    text-align: center;
    width: 12em;

    @include small {
      text-align: left;
      display: inline-block;
      width: 5em;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:hover {
      font-weight: bold;
    }
  }
}

.content {
  grid-area: content;
  grid-row: 2;
  height: 1fr;
  padding-left: 9em;
  padding-right: 20em;

  @include small {
    padding-right: 2em;
    padding-left: 2em;
  }

  @include medium {
    padding-right: 2em;
    padding-left: 2em;
  }

  h1 {
    color: #C44464;
    font-size: 3.5em;

    @include small {
      font-size: 2.5em;
    }
  }

  p {
    color: #545454;
    padding-right: 17em;
    font-size: 1.1em;
    line-height: 2em;
    text-align: justify;

    @include small {
      padding: 0;
    }

    @include medium {
      padding-right: 10em;
    }

  }

  strong {
    background-color: #FEF0C2;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;

  }

  a {
    color: #C44464;
  }

}


.footer {
  grid-area: footer;
  grid-row: 4;
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 1em 0em 1em 0em;
  margin-top: 7em;

  background-color: #1F607B;
  color: white;
  text-align: center;

  img {
    padding-top: 5px;
  }
}

// Product components

.product-list {
  list-style-type: none;

  @include small {
    margin-left:-3em;
  }

  li {
    display: inline-block;
    margin-right: -3em;

    @include small {
      margin:0;
      margin-bottom: 2em;
    }

    @include medium {
      margin-top: 2em;
    }
  }
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  height: 35em;
  width: 20em;
  margin-left: 6em;
  border-radius: 4px;
  background: radial-gradient(closest-side at 75% 55%, #87C1E5, #6BB2D9);

  @include small {
    margin:0;
    width: 100%;
  }

  @include medium {
    margin:0;
    width: 90%;
    height: 30em;
  }

}

.product-image {
  height: 40%;
  text-align: center;

  img {
    height: 75%;
    margin-top: 2em;
  }
}

.product-description {
  height: 35%;
  padding-left: 1em;
  padding-right: 1em;

  h3 {
    color: #103D4F;
    text-align: center;
  }

  p {
    color: #103D4F;
    text-align: center;
    line-height: 1.7em;
  }
}

.product-button {
  height: 15%;
  text-align: center;


  a {
    background-color: #C44464;
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.79);
    border-radius: 5px;
    margin-top: 3em;
    margin-bottom: 3em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding-left: 3.5em;
    padding-right: 3.5em;
    padding-top: 1em;
    padding-bottom: 1em;

  }

  a:hover {
    background-color: #6E1831;
    transition: 0.2s ease;
    box-shadow: none;
  }
}

.product-price {

  height: 10%;
  text-align: center;
  color: #103D4F;
  padding-bottom: 2em;
}

.product-most-popular {
  float: right;
  img {
    width: 68%;
    margin-left: -9em;
    margin-top: -2em;

  }

  @include small {
    display: none;
  }

  @include medium {
    display: none;
  }
}


.product-faq {
  padding-left: 9em;
  padding-right: 20em;
  margin-bottom: 2em;

  @include small {
    padding-left: 2em;
    padding-right: 2em;
  }

  @include medium {
    padding-right: 2em;
    padding-left: 2em;
  }

  h1 {
    color: #C44464;
    font-size: 3.5em;

    @include small {
      font-size: 2.5em;
    }
  }

  p {
    color: #545454;
    padding-right: 17em;
    font-size: 1.1em;
    line-height: 2em;
    text-align: justify;

    @include small {
      padding: 0;
    }

    @include medium {
      padding-right: 2em;
    }

  }

  strong {
    background-color: #FEF0C2;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: normal;

  }

  a {
    color: #C44464;
  }

  h2 {
    color: #C44464;
  }

}
