@import "variables";

@mixin large {
  @media screen and (min-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin medium {
  @media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: #{$medium-breakpoint}) {
    @content;
  } }

body {
  font-family: 'Open Sans';
  text-align: center;
  background: radial-gradient(circle,#2B6F8D,#87C1E5 170% );
}

img {
  height: 200px;
  padding-left: 45px;
  margin-top: 2em;
  margin-bottom: 2em;

  @include small {
    margin-top: 1em;
    margin-bottom: 1em;  }
}

h2 {
  color: #666;
  font-weight: normal;
  font-size: 1.5em;
}

h1 {
  color: #DF5551;
  font-size: 4em;
  margin-top: -0.3em;
}

p {
  color: #black;
  line-height: 2em;
}

.main-container {
  margin-top: 4em;
  margin-left: 30%;
  margin-right: 30%;

  @include small {
    margin-top: 1em;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.card {
  background: white;
  border-radius: 8px;
  padding: 1.1em;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);


}

strong {
  background-color: #FEF0C2;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: normal;
}

a {
  margin-top: 4em;
  display: block;
  padding: 1em;
  background-color: #DF5551;
  color: white;
  width: 40%;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 1px 2px 2px 0px rgba(0,0,0,0.75);
  font-weight: normal;

  &:hover {
    background-color: #A42F2C;
    transition: 0.2s ease;
    box-shadow: none;
  }
}

.button {
  width: 700px;
  margin-left: 40%;

  @include small {
    display: none;
  }
}
