//Generic Color Palatte
$generic-color-white: #fff !default;
$generic-color-grey: #606c71 !default;
$generic-color-green: #159957 !default;
$generic-color-blue: #155799 !default;
$generic-color-pink: #D33563 !default;


// Breakpoints
$large-breakpoint: 64em !default;
$medium-breakpoint: 42em !default;

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #159957 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #159957 !default;
$body-text-color: #303030 !default;
$body-link-color: #D33563 !default;
$body-link-hover-color: #92062E !default;
$blockquote-text-color: #819198 !default;

// Code
$code-bg-color: #f3f6fa !default;
$code-text-color: #567482 !default;

// Borders
$border-color: #dce6f0 !default;
$table-border-color: #e9ebec !default;
$hr-border-color: #eff0f1 !default;
