{% extends "base.html" %}

{% block title %}{{ article.title }} | {{ SITENAME }}{% endblock %}

{% block content %}
<div class="col-lg-12 col-md-12">
<div class="row" id="content_row">
 <div class="col-xl-2 col-lg-1 col-md-12"></div>
 <div class="col-xl-5 col-lg-7 col-md-12">
  <h1 class="mt-3">{{ article.title }}</h1>
  <small class="mr-2"><i class="far fa-calendar-alt mr-2"></i>{{ article.date|strftime('%d %B, %Y') }}</small>
  <small class="mr-2"><i class="far fa-clock mr-2"></i>{{article.readtime.minutes}} minutes read</small>
  {% if article.projecttype %}<small class="mr-2"><i class="fas fa-laptop-code mr-2"></i>{{ article.projecttype }}</small>{% endif %}
  <div class="pt-5" id="article-content">
  {{ article.content }}
  </div>
  <hr class="mt-5">
  {#% include "includes/next-last-posts-widget.html" %#}
 </div>
 <div class="col-xl-2 col-lg-3 mt-md-5 mt-lg-3 ml-lg-3" id="related_posts_col">
  {% if article.related_posts %}
   <div id="related-posts-list" class="pr-3 sticky-top">
    <div class="pt-3 pl-3">
    <p>related posts:</p>
    <ul class="pb-5 pl-0 list-unstyled">
    {% for related_post in article.related_posts %}
        <li class="pt-3"><a class="text-muted" href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
  </div>
   </div>
  {% endif %}
 </div>
</div>
{% endblock %}
