.hello-ref {
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: none;
  position: top;
}

.hello-ref-text {
  padding: 0.7rem 1rem 0.7rem 1rem;
  text-align: center;
  font-size: 0.8rem;
  color: #ffffff;
}

.hello-ref-facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.hello-ref-twitter {
  background-color: #00aced;
  border-color: #00aced;
}

.hello-ref-github {
  background-color: #6e5494;
  border-color: #6e5494;
}

.hello-ref-krush {
  background-color: black;
  border-color: black;
}
