<!--include head section, find it in the includes directory-->
{% include head.html %}
<!--include title section, find it in the includes directory-->
{% include title-homepage.html %}

<!--Page's content goes below-->

    <section class="main-content">
    <style type="text/css" media="screen">
      .container {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
      }
      h1 {
        margin: 30px 0;
        font-size: 4em;
        line-height: 1;
        letter-spacing: -1px;
      }
    </style>

    <div class="container">
      <h1>Page not found</h1>
      <p>Looks like you reached a page that doesn't exist</p>
      <p>If you believe I messed up please <a href="{{ site.github_repository_url }}"> shoot me a meesage</a></p>
      <p>¯\_(ツ)_/¯</p>
    </div>

  </section>
    <!--Include Scripts, find it in the includes directory-->
    {% include scripts.html %}
