<div class="post-info">#{{ page.categories }} &#8226 {{ page.date | date: "%B %-d ,%Y" }} &#8226 {% assign words = content | number_of_words %}
{% if words < 360 %}
1 min read
{% else %}
{{ words | divided_by:180 }} mins read
<script>
// This script will calculate reading time and fire a GA event goal is someone read it
var calcRead = {{words | divided_by:3}};
var startTime = $.now();
var endTime = '';
var actualRead ='';
$(window).on("unload",function(){
  endTime = $.now();
  var actualRead = Math.round((endTime-startTime)/1000);
// if statement that will fire the GA event
if (actualRead >= calcRead) {
  ga('send', 'event', 'Post', 'Read', '{{ page.title }}');
}
});
</script>
{% endif %}
</div>
<div class="dark-mode">
  <label class="switch">
    <input type="checkbox" id="dark-mode-checkbox">
    <span class="slider round"></span>
  </label>
</div>
