/* fonts */

body, #images, #images a {
   font-family: 'Lato', sans-serif !important;
}

p {
  font-size: 1.1em;
}

h1 {
  font-weight: bold;
}

h2 {
  padding-bottom: 0.3em;
  padding-top: 1.3em;
}

pre {
  padding: 1.3em;
}

/* article */

#article-content {
  line-height: 2em;
}

#article-content img {
  width: 100%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  display: block;
  margin: 0 auto;
}

blockquote {
	padding-left: 3em;
	border-left: 1px solid;
	color: grey;
	margin-top: 2em;
	margin-bottom: 2em;
}

#related-posts-list {
  font-size: 0.95rem;
  background-color: #efefef;
  color: #00000070;
}

sup a {
  background-color: #e3e3e3;
  border-radius: 30%;
  padding: 0.1em 0.6em 0.1em;
  margin-left: 0.3em;
  margin-right: 0.2em;

  &:hover {
    text-decoration: none;
    background-color: #00000070;
  }
}

table {

    margin-top: 2em;
    margin-bottom: 2em;

  th {
    background-color: #666;
    color: white;
  }

  tr:nth-of-type(odd) {
    background-color: #eee;
  }

  td, th {
    text-align: left;
    vertical-align: top;
    padding: 10px;
    font-size: 1.1em;
  }
}
