{% include project-head.html %}
{% include project-top-nav.html %}
  <div class = "header">
    <div class = "left-side">
      <h1>I'm CheerBot</h1>
      <h2>My job is making people happy 🎉</h2>
      <img src = '/assets/img/cheerbot/cheerbot.png'>
      <a href = 'https://twitter.com/Cheer_robot'>Follow me on Twitter</a>
    </div>
    <div class = "right-side">
      <img src = '/assets/img/cheerbot/cheerbot.png'>
    </div>
    </div>
    <div class = "content">
      <div class = "content-left">
      {{ content }}
      </div>
      <div class = "content-right">
        <h3>People love CheerBot</h3>
        <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">WHO DID THIS AW THIS IS SO SWEET AND IT MADE ME NIGHT</p>&mdash; sal (@knjcuIt) <a href="https://twitter.com/knjcuIt/status/944804568956747777?ref_src=twsrc%5Etfw">December 24, 2017</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

      </div>
    </div>
    <div class = "footer">Positive coding <img src="{{ site.img_path_url }}/pixel-heart-500.png" height="15px"> Best coding</div>

  </div> <!--closer for main-container-->
</body>
</html>
