{% include project-head.html %}
{% include project-top-nav.html %}
  <div class = content>   <h1>Cheerbot Store</h1>
</div>
  <ul class = "product-list">
    <li class = "product">
      <div class = "product-wrapper">
        <div class = "product-image"><img src="/assets/img/cheerbot/positivecoding.png"></div>
        <div class = "product-description">
          <h3>Positive coding sticker</h3>
          <p>Positive coding is best coding, and now you gwt to show it! This 3x3 inch sticker is made out of super high quality vinyl, perfect for laptops</p>
        </div>
        <div class = "product-price"><strong>$5.00</strong></div>
        <div class = "product-button"><a href = "http://www.google.com">Purchase</a></div>
      </div>
    </li> <!-- End of list item -->

    <li class = "product">
      <div class = "product-wrapper">
        <div class = "product-image"><img src="/assets/img/cheerbot/cheerbot-sticker.png"></div>
        <div class = "product-description">
          <h3>Cheerbot Sticker</h3>
          <p>Cheerbot will be your daily reminder to spread happiness! This sticker 3x3 is made out of super high quality vinyl, perfect for laptops</p>
        </div>
        <div class = "product-price"><strong>$5.00</strong></div>
        <div class = "product-button"><a href = "http://www.google.com">Purchase</a></div>
      </div>
    </li> <!-- End of list item -->

    <li class = "product">
      <div class = "product-most-popular"><img src="/assets/img/cheerbot/most-popular.png"></div>
      <div class = "product-wrapper">
        <div class = "product-image"><img src="/assets/img/cheerbot/combo.png"></div>
        <div class = "product-description">
          <h3>Stickers Combo!</h3>
          <p>I mean, both of the stickers are so good I wouldn't be able to choose from myself. Take $1 of the combo price and make it happen!</p>
        </div>
        <div class = "product-price"><strong>$9.00</strong></div>
        <div class = "product-button"><a href = "http://www.google.com">Purchase</a></div>
      </div>
    </li> <!-- End of list item -->
  </ul>
  <div class = "product-faq">{{ content }}</div>
</body>
</html>
