<!--include head section, find it in the includes directory-->
{% assign post = site.posts.first %}
{% assign content = post.content %}
{% include head.html %}

<!--include title section, find it in the includes directory-->
{% include title.html %}
<!--include hello-ref plugin-->
{% include hello-ref.html %}

<!--Page's content goes below-->
<section class="main-content">
  <!-- This code segement will show the latest post on the homepage-->
  {% include post_detail.html %}
  <!--include footer section, find it in the includes directory-->
  {% include footer.html %}
</section>
  <!--Include Scripts, find it in the includes directory-->
  {% include scripts.html %}
