<!--include head section, find it in the includes directory-->
{% include head.html %}


<!--include title section, find it in the includes directory-->
{% include title-post.html %}
<!--include hello-ref plugin-->
{% include hello-ref.html %}

<!--Page's content goes below-->

    <section class="main-content">
    {{ content }}
    <!-- Category description, included -->
    {% capture page-cat %}{{ page.categories }}{% endcapture %}
    {% capture cover-credit %}{{ page.image-credit }}{% endcapture %}
    {% include category-info.html %}

    <!-- Latest posts in the same category as the specific post -->

    <div class="latest-posts"><h3>More in #{{ page.categories }}</h3>
    <ul>
      {% for post in site.categories[page-cat] %}
      <li><a onclick="ga('send', 'event', 'Navigation', 'Latest Posts', '{{ page.title }}');" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul></div>

      <!--include footer section, find it in the includes directory-->
      {% include footer.html %}
  </section>
    <!--Include Scripts, find it in the includes directory-->
    {% include scripts.html %}
