<div class="container" id="next-last-posts">
  <div class="row mt-5">
    <div class="col">
{% if article.prev_article %}
  <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
    <i class="fas fa-arrow-left mr-2"></i> {{ article.prev_article.title }}
</a>
{% endif %}
</div>

<div class="col  text-right">
{% if article.next_article %}
    <a href="{{ SITEURL }}/{{ article.next_article.url}}">
        {{ article.next_article.title }} <i class="fas fa-arrow-right ml-2"></i>
      </a>
{% endif %}
</div>
</div>
</div>
